body * {
    font-family: 'Merriweather Sans', sans-serif;
    color:#837e9f;
}

body {
    background: #22212C;
}

#conteiner {
    border: 1px solid greenyellow;
    width: 1440px;
    height: 1687px;
}


/* perfil */

#conteiner-perfil {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 348px;
    height: 292px;
    display: inline-block;
    position: absolute;
    margin: 40px auto 0 40px;
    
    top: 0;
}

#ellipse-perfil {
    width: 128px;
    height: 128px;
    left: 150px;
    top: 72px;
    background: url(./assets/avatar.jpg) center/cover;
    border: 2px solid #00FF00;
    border-radius: 50%;
    margin: 32px 110px 0;
}

#conteiner-perfil h3 {
    text-align: center;
    margin: 0;
    margin-top: 30px;
}

#conteiner-perfil p {
    text-align: center;
    margin: 0;
    margin-top: 10px;
}


/* links & redes sociais */

#conteiner-links {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 348px;
    height: 268px;
    position: absolute;
    top: 362px;
    margin: 0 auto 0 40px;
    
}

/* links & redes sociais */
/*icons*/

.local {
    
    position: absolute;
    margin-top: 30px;
    margin-left: 40px;
}

.cargo {
    position: absolute;
    margin-top: 74px;
    margin-left: 40px;
}

.git-hub-icon {
    position: absolute;
    margin-top: 118px;
    margin-left: 40px;
}

.instagram-icon-1 {
    position: absolute;
    margin-top: 162px;
    margin-left: 40px;
}

.mail {
    position: absolute;
    margin-top: 206px;
    margin-left: 40px;
    
}

/* links & redes sociais */
/*infos*/

#conteiner-links a {
    text-decoration: none;
    color: #837e9f;
}

.Brasil {
    
    position: absolute;
    margin: 0;
    top: 34px;
    left: 86px;
}

.cargo-escrito {
    position: absolute;
    margin: 0;
    top: 78px;
    left: 84px;
}

.acesso-github {
    position: absolute;
    top: 122px;
    left: 84px;
}

.acesso-instagram {
    position: absolute;
    top: 166px;
    left: 84px;
}

.acesso-email {
    position: absolute;
    top: 210px;
    left: 84px;
}


/* tecnologias */

#conteiner-tecnologias {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 348px;
    height: 208px;
    position: absolute;
    top: 660px;
    margin: 0 0 0 40px;
    
}

#conteiner-tecnologias h3 {
    margin: 30px auto 0 20px;
}

#conteiner-tecnologias p {
    display: inline-flex;
    margin: 0;
    border: 1px solid #cb92b1;
    background-color: #cb92b1;
    border-radius: 30px;
    height: 24px;
    width: 86px;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    align-items: center;
    justify-content: center;
    color: black;
}

.tec-javascript {
   position: absolute;
   top: 76px;
   left: 30px;
}

.tec-html {
    position: absolute;
    top: 76px;
    left: 131px;
 }

 .tec-css {
    position: absolute;
    top: 76px;
    left: 232px;
 }

 .tec-git {
    position: absolute;
    top: 115px;
    left: 30px;
 }

 .tec-github {
    position: absolute;
    top: 115px;
    left: 131px;
 }


/* experiencias */

#conteiner-experiencias {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 348px;
    height: 349px;
    position: absolute;
    top: 898px;
    margin: 0 0 0 40px;
}

#conteiner-experiencias h3 {
    margin: 30px auto 0 20px;
}

#conteiner-experiencias ul {
    padding-left: 0;
    margin-left: 62px;
    
}

#conteiner-experiencias ul li p {
    
    margin: 0;
}

.linhas-exp {
    margin-bottom: 21px;
}

/* educação */

#conteiner-educacao {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 348px;
    height: 352px;
    margin: 0 0 0 40px;
    position: absolute;
    top: 1277px;
}

#conteiner-educacao h3 {
    margin: 30px auto 0 20px;
}

#conteiner-educacao ul {
    padding-left: 0;
    margin-left: 62px;
    
}

#conteiner-educacao ul li p {
    
    margin: 0;
}

.linhas-educ {
    margin-bottom: 21px;
}

/* meus projeto */
#conteiner-meus-projetos {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 952px;
    height: 86px;
    position: absolute;
    top: 0;
    margin: 40px 40px 0 448px;
    
}

#conteiner-meus-projetos h3 {
    display: inline-flex;
    margin: 30px 0 30px 30px;
    text-align: center;
}

#conteiner-meus-projetos a {
    display: inline-flex;
    text-align: center;
    margin: 34px 30px 34px 700px;
    text-decoration: none;
    color: #837e9f;
}

/* projeto 1 */

#conteiner-projeto-1 {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 461px;
    height: 186px;
    position: absolute;
    top: 0;
    margin: 157px 0 0 448px;
    
}

.pasta {
    display: inline-flex;
    margin: 30px auto auto 30px;
    width: 20px;
    height: 20px;
}

#conteiner-projeto-1 h4 {
    display: inline-flex;
    margin: 31px auto auto 16px;
    position: absolute;

}

#conteiner-projeto-1 a {
    text-decoration: none;
}


.subtitulo-1 {
    margin: 20px 10px auto 30px;
}

#likes {
   
    display: inline-flex;
    
}

.estrela-1 {
    display: inline-flex;
    margin: 47px auto auto 30px;
    width: 20px;
    height: 20px;
}

.info-100 {
    display: inline-flex;
    margin: 49px 16px 32px 8px;
    
}

.git-branch-1 {
    display: inline-flex;
    width: 20px;
    height: 20px;
    margin: 47px auto auto 30px;
}

/* projeto 2 */

#conteiner-projeto-2 {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 461px;
    height: 186px;
    position: absolute;
    top: 0;
    margin: 157px 0 0 939px;
    
}

.pasta-2 {
    display: inline-flex;
    margin: 30px auto auto 30px;
    width: 20px;
    height: 20px;
}

#conteiner-projeto-2 h4 {
    display: inline-flex;
    margin: 31px auto auto 16px;
    position: absolute;
}

#conteiner-projeto-2 a {
    text-decoration: none;
}

.subtitulo-2 {
    margin: 20px 10px auto 30px;
}

.estrela-2 {
    display: inline-flex;
    margin: 47px auto auto 30px;
    width: 20px;
    height: 20px;
}

.info-80 {
    display: inline-flex;
    margin: 49px 16px 32px 8px;
    
}

.git-branch-2 {
    display: inline-flex;
    width: 20px;
    height: 20px;
    margin: 47px auto auto 30px;
}


/* postagens recentes*/

#conteiner-postagens-recentes {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: absolute;
    width: 952px;
    height: 86px;
    margin: 373px 40px 0 448px;
}

#conteiner-postagens-recentes h3 {
    display: inline-flex;
    margin: 30px 0 30px 30px;
    text-align: center;
}

/*conteiner da postagem*/

#conteiner-postagem {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: absolute;
    width: 952px;
    height: 201px;
    margin: 489px 40px 0 448px;
}

#ellipse-postagem {
    width: 128px;
    height: 128px;
    border-radius: 128px;
    background: url(./assets/avatar.jpg) center/cover;
    margin: 31px auto 42px 30px;
    display: inline-flex;
}

#conteiner-postagem h3 {
    display: inline-flex;
    position: absolute;
    top: 30px;
    right: 162px;
    bottom: 140px;
    left: 178px;
    margin: 0;
}

#conteiner-postagem a {
    text-decoration: none;
}

.data-postagem {
    
    position: absolute;
    top: 61px;
    right: 651px;
    bottom: 122px;
    left: 178px;
    margin: 0;
    
}

.info-postagem {
    position: absolute;
    margin: 0;
    top: 107px;
    bottom: 74px;
    left: 178px;

}

.hashtag-postagem {
    position: absolute;
    top: 138px;
    bottom: 42px;
    left: 178px;
    margin: 0;
}
