body {
    background: #22212C;
}

#conteiner {
    border: 1px solid greenyellow;
    width: 1440px;
    height: 1767px;
}


/* perfil */

#conteiner-perfil {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 348px;
    height: 292px;
    display: inline-block;
    position: relative;
    margin: 40px auto 0 40px;
    border: blue solid 1px;
}

#ellipse-perfil {
    width: 128px;
    height: 128px;
    left: 150px;
    top: 72px;
    background: url(./assets/avatar.jpg) center/cover;
    border: 2px solid #00FF00;
    border-radius: 50%;
    margin: 32px 110px 0;
}

#conteiner-perfil h3 {
    text-align: center;
    margin: 0;
    margin-top: 30px;
}

#conteiner-perfil p {
    text-align: center;
    margin: 0;margin-top: 10px;
}

#conteiner-links {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 348px;
    height: 348px;
    position: relative;
    margin: 30px auto 0 40px;
    border: yellow solid 1px;
}

#conteiner-tecnologias {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 348px;
    height: 208px;
    position: relative;
    margin: 30px 0 0 40px;
    border: red solid 1px;
}

#conteiner-experiencias {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 348px;
    height: 349px;
    position: relative;
    margin: 30px 0 0 40px;
}

#conteiner-educacao {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 348px;
    height: 352px;
    margin: 30px 0 0 40px;
}

#conteiner-meus-projetos {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 952px;
    height: 86px;
    position: absolute;
    top: 0;
    margin: 40px 40px 0 448px;
    border: pink 1px solid;
}

#conteiner-projeto-1 {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 461px;
    height: 186px;
    position: absolute;
    top: 0;
    margin: 157px 0 0 448px;
    border: white 1px solid;
}

#conteiner-projeto-2 {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 461px;
    height: 186px;
    position: absolute;
    top: 0;
    margin: 157px 0 0 939px;
    border: white 1px solid;
}

#conteiner-postagens-recentes {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: absolute;
    width: 952px;
    height: 86px;
    left: 448px;
    top: 373px;
}

#conteiner-postagem {
    background: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: absolute;
    width: 952px;
    height: 201px;
    left: 448px;
    top: 489px;
}